html, body {
  background: #ffb217;
  height: 100%;
  margin: 0;
  padding: 0;
}

h3, h1 {
  color: black;
  font-family: arial;
  padding-left: 100px;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, p {
    margin: 2rem 0;
}

h1, h2, h3, h4, h5{

    font-weight: 600;
    line-height: 1.2em;
    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 2rem;
}

p {
  color: white;
  font-family: "copperplate";
}

a {
  color: aliceblue;
}
ul {
  color: black;
  font-family: "copperplate";
  
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: impact;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.form {
    padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  border: 2px solid purple;
}

.form:hover {
  cursor: pointer;
  background-color: purple;
}

.title {
  font-size: 30px;
  color: black;
  font-family: georgia;
  text-transform: uppercase;
  border-right: 2px solid mediumaquamarine;
  padding: 0px 5px;
  padding-bottom: 7px;
  text-decoration: none;
}
#map {
  height: 50%;
  width: 50%;
  margin-top: 10px;
  margin-left: 100px;
}

.title:hover {
  background: mediumaquamarine;
  cursor: pointer;
}

.buttons {
  outline: none;
  border-right: 1px solid mediumaquamarine;
  border-left: 2px solid mediumaquamarine;
  padding: 12px 8px;
  color: black;
  text-decoration: none;
  font-family: georgia;
  float: right;
}

.buttons:hover {
  background-color: mediumaquamarine;
}

.toolbar {
  border: 2px solid mediumaquamarine;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 7px;
  padding-left: 0px;
}

img.main {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid;
  border-radius: 10px;
  animation: borderchange 25s;
  opacity: 0.01;
}



.h2Title {
  color: white;
  font-family: impact;
  text-transform: uppercase;
  
}